<ion-view view-title="Chats">
    <ion-nav-buttons side="primary">
        <button class="button button-icon ion-plus"></button>
    </ion-nav-buttons>
    <ion-nav-buttons side="secondary">
        <button class="button button-clear button-positive">edit</button>
    </ion-nav-buttons>

    <ion-content>
        <ion-list>
            <ion-item class="item-remove-animate item-avatar item-icon-left item-icon-right">
                <i class="icon ion-person-stalker"></i>
                <h2>Candy</h2>
                <p>Where are you?</p>
                <span class="badge badge-assertive">23</span>
                <i class="icon ion-chevron-right icon-accessory"></i>
                <ion-option-button class="button-assertive">
                    Delete
                </ion-option-button>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
